.slickSlide {
  position: relative;
  text-align: center;
  color: #fff;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: transform 0.5s, opacity 0.5s;
  overflow: hidden;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  width: 80%;
  opacity: 0; /* Измените на 1, чтобы текст был виден */
  transition: opacity 0.5s ease-in-out;
}

.textOverlay h1,
.textOverlay p {
  color: #0070f3;
  margin: 0;
}

.textOverlay h1 span,
.textOverlay p span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  margin-right: 10px;
}

.textOverlay h1 span:nth-child(1),
.textOverlay p span:nth-child(1) {
  animation-delay: 0.2s;
}

.textOverlay h1 span:nth-child(2),
.textOverlay p span:nth-child(2) {
  animation-delay: 0.4s;
}

.textOverlay h1 span:nth-child(3),
.textOverlay p span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slickSlide img {
  width: 100%;
  height: 500px;
  transition: transform 0.5s;
  animation: zoomIn 4s ease forwards;
}

.slickSlide video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: transform 0.5s;
  animation: zoomIn 4s ease forwards;
}

.slick-slide.slick-center {
  opacity: 1;
  transform: scale(1.05);
}

.slideContent {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slick-slide.slick-center .slideContent {
  opacity: 1;
}

.sliderContainer {
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sliderControls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.sliderControls button {
  background: rgba(0, 0, 225, 0.4);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin: 0 50px;
  transition: background 0.3s ease;
}

.sliderControls button:hover {
  background: #12283B;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@media (max-width: 1024px) {
  .slickSlide img {
    height: 400px;
  }

  .sliderControls button {
    padding: 8px;
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  .slickSlide img {
    height: auto;
  }

  .slideContent {
    bottom: 10px;
    width: 90%;
  }

  .sliderControls button {
    padding: 5px;
    margin: 0 20px;
  }
}
