.sponsorsSliderContainer {
  width: 100%; 
  margin: 0 auto; 
  padding: 0; 
}

.slickSlide {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: white;
  padding: 0 10px; 
  height: 100px; 
}

.slickSlide img {
  max-width: 200px; 
  height: 100px; 
  object-fit: contain; 
  margin: auto; 
}

.slick-prev, .slick-next {
  display: none !important; 
}

@media (max-width: 1024px) {
  .slickSlide {
    height: 80px; 
  }

  .slickSlide img {
    max-width: 150px; 
    height: 80px; 
  }
}

/* Styles for mobile devices */
@media (max-width: 600px) {
  .slickSlide {
    height: 60px; 
  }

  .slickSlide img {
    max-width: 100px; 
    height: 60px; 
  }
}
