.sponsorsSliderContainer {
  width: 100%; /* ширина контейнера слайдера */
  margin: 0 auto; /* центрирование контейнера */
  padding: 0px 0; /* отступы сверху и снизу */
}

.slickSlide {
  display: flex;
  justify-content: center; /* центрирование изображения */
  align-items: center;
  background-color: white;
  padding: 0 10px; /* отступы по бокам для уменьшения расстояния между слайдами */
  height: 150px;
}

.slickSlide img {
  max-width: 100%; /* изображение будет занимать всю ширину слайда */
  max-height: 80px; /* максимальная высота изображения */
  object-fit: contain; /* сохраняем пропорции изображения */
  margin: 0 auto; /* центрирование изображения */
}

.slick-prev, .slick-next {
  display: none !important; /* Скрываем стрелки */
}
